.beer-wrapper
{
    width: 250px;
    height: 300px;
    background: whitesmoke;
    transition: background .6s ease;
    border-radius: 10px;
    padding: 1px 20px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.profile {
    margin-top: 10px;
    position: relative;
    text-align:center;
}

.thumbnail {
    width: 124px;
    height: 124px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 100%;
    border:1px solid orange;
}

.name {
    color: #2D354A;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.title {
    color: #7C8097;
    font-size: .75em;
    font-weight: 300;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .7em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.beer-description {
    color: #080911;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;

}

.btn {
    position: absolute;
    bottom: -20px;
    left: 60px  ;
    color: white;
    background-color:orange;
    width: 130px;
    height: 42px;
    outline: none;
    border: none;
    display: block;
    cursor: pointer;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70px;
    box-shadow: 0 13px 26px rgba(#000, .16), 0 3px 6px rgba(#000, .16);
}

.btn:hover
{
    color:white;
    background-color: orangered;
}

div.beerRow
{
    content: "";
    display: table;
    clear: both;
}

.bclmn
{
    width:25%;
}

.row
{
    margin-bottom: 10px;
    margin-top:10px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}




.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow
{
    border: solid orange;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding:5px;
    margin-left:15px;
    margin-right:10px;
    cursor: pointer;
}

.middle-left
{
    position:absolute;
    top:50%;
    width:20px;
}

.middle-right
{
    position:absolute;
    top:50%;
    width:20px;
    right:2%;
}

.arrow:hover{
    border:solid orangered;
    border-width: 0 10px 10px 0;
}

/* modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: orange;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.modal-body {padding: 2px 16px;}

/* modal form */

.modal-body .group
{
    margin-left: auto;
    margin-right:auto;
    width: 80%;
    text-align: center;
}

.modal-body label{
    display:block;
    padding-top: 5px;
}

.modal-body input{
    width:50%;
    padding-top:10px;
    height: 40px;
    border-radius:50px;
    border: 1px solid orange;
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}

.modal-body select
{
    width:50%;
    padding-top:10px;
    height:40px;
    border-radius:50px;
    border: 1px solid orange;
    text-align: center;
    font-size: 15px;
    padding-bottom: 10px;
}

.modal-body .button
{
    margin: 10px auto;
    color: white;
    background-color: orange;
    font-size:20px;
    padding-bottom:35px;
}

/* Snackbar */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: greenyellow;
    font-size:16px;/* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.centered
{
    display:block;
    margin-left: auto;
    margin-right:auto;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.fade-in {
    animation: fadeIn ease .5s;
    -webkit-animation: fadeIn ease .5s;
    -moz-animation: fadeIn ease .5s;
    -o-animation: fadeIn ease .5s;
    -ms-animation: fadeIn ease .5s;
}


@keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}