
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin: 100px auto;
	max-width:525px;
	min-height:490px;
	position:relative;
	background-color: orange;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:45px 70px 50px 70px;
	background:rgba(211, 140, 8, 0.815);
}
.login-html .sign-in-htm{
    
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-form .group .check{
    
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:40px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 20px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab{
    margin-bottom: 10px;
    color:#fff;
	border-color:rgb(209, 57, 1);
}
.login-form{
    margin-top: 10px;
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:whitesmoke;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	font-size:15px;
	border:none;
	padding:15px 20px;
	border-radius:25px;
    background:rgba(255,255,255,.1);
   
}

.grid
{
	display: grid;
	grid-template-columns: auto auto;
}

.button{
	margin-top:10px;
}

.label
{
	font-size:15px !important;
}

.login-form .group input[data-type="password"]{
	text-security:circle;
    -webkit-text-security:circle;
    
}
.login-form .group .label{
	color:whitesmoke;
	font-size:20px;
}
.login-form .group .button{
    margin-bottom: 4;
    margin-top: 4;
	background:rgb(209, 57, 1);
}

.login-form .group .input:focus
{
	background:white;
	color: black;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

.pad
{
    margin-bottom: 25 !important;
}
.login-form .group .button:hover
{
color:orangered;
background: whitesmoke;
border: 1px solid orangered;
	cursor:pointer;
}