*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #312924;
    font-family: 'Sitka Heading',sans-serif;
}

ul{
    list-style-type: none;
    overflow: hidden;
}

.nav{
    border-bottom: 1px solid orange;
}

.nav li {
    float: right;
}


li a
{
    display: block;
    padding: 13px 30px 13px 30px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: 'Sitka Heading',sans-serif;
    text-align: center;
    text-shadow: 1px 1px 4px #000000;
}

.logout input
{
    display:block;
    padding: 13px 30px 13px 30px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-family: 'Sitka Heading',sans serif;
    text-align: center;
    text-shadow: 1px 1px 4px #000000;
    background: transparent;
    border: none;
}


.logout input:hover:not(.active)
{
    background-color:#574940;
    color:white;
    cursor:pointer;
    text-shadow: 1px 1px 4px #000000;
}

li a:hover:not(.active)
{
    background-color: #574940;
    color: white;
    cursor:pointer;
    text-shadow: 1px 1px 4px #000000;
}

.logo{
    width: 40px;
    height: 40px;
    margin: 5px;
}



form.searchBar input[type=text] {
    margin: 11 0 11 9;
    height: 30;
    width: 250;
    padding: 11;
    font-size: 17px;
    border: none;
    float: left;
    background: #8f857d;
    color: white;
}

form.searchBar .criteria
{
    float: left;
    width:110;
    height:30;
    margin: 11 0 11 0;
    color: orange;
}

form.searchBar select{
    width:110;
    height:30;
    background: #8f857d;
    color: white;
    border: none;
    padding: 2px;
}

form.searchBar button {
    float: left;
    width:30;
    height: 30;
    background: orange;
    margin: 11 8 11 0;
    color: white;
    font-size: 17px;
    border: 1px solid orange;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.searchBar button:hover {
    background: orangered;
    border: 1px solid orangered;
}


.description
{
    display: block;
    margin-top: 30px;
    margin-left: 60px;
    text-shadow: 1px 1px 3px #000000;

}

.description > p{
    width: 400px;
    font-size:22px;
    color:white;
    margin-top: 10px;
}


.description > h1
{
    font-family: 'Sitka Banner',sans-serif;
    font-size: 6.5em;
    color: #ffffff;
}



.det{
    width: 400px;
    display: block;
    height: 50px;
    color:white;
    background-color: transparent;
    border: 1px solid white;
    float: right;
    margin: 10 10 3 20;
    font-size: 100%;
    text-shadow: 1px 1px 4px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.det:hover{
    color:white;
    background-color: orangered;
    cursor: pointer;
}

.active{
    color:white;
    background-color: orange;
    cursor: pointer;
}


p.author
{
    color: orange;
    margin-top: 10px;
}

/* Grid */
.column {
    padding: 10px;
    float: left;
}

.big
{
    width: 56%;
}

.new-beer
{
    text-align: center;
    margin:10px 0px 10px 240px;
    height:34px;
    font-family: 'Sitka Heading',sans-serif;
    font-size:20px;
    text-shadow: 1px 1px 4px #000000;
    border-radius: 2%;
    color:white;
    background-color: orange;
    border:none;
    text-transform: uppercase;
    font-weight: bold;
    display:inline-block;
    width: 150px;
    box-shadow: 0 13px 26px rgba(#000000, 0.16), 0 3px 6px rgba(#000000, 0.16);
}

.new-beer:hover
{
    background-color: orangered;
    cursor: pointer;
}

.small
{
    width: 44%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.img-ava
{
    width: 400px;
    height: 400px;
    display: block;
    float: right;
    margin: 30 10 5 20;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

b{
    color: orange;
}

/* stars */

.wrapper {
    position: relative;
    display: inline-block;
    border: none;
    font-size: 14px;
    margin: 0 70 10 70;
    transform: translateX(-50%);
}

.wrapper input {
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    opacity: 0;
}

.wrapper label {
    position: relative;
    float: right;
    color: #C8C8C8;
}

.wrapper label:before {
    margin: 5px;
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 1.5em;
    color: #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.star-active
{
    color: #FFC107;
}

.wrapper input:checked ~ label:before {
    color: #FFC107;
}

.wrapper label:hover ~ label:before {
    color: #ffdb70;
}

.wrapper label:hover:before {
    color: #FFC107;
}

.user-desc > img
{
    width:300px;
    height:300px;
}

.plus-button
{
    border-radius: 50%;
    background-color: orange;
    color: white;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border:none;
    font-size:17px;
    margin-right:5px;
    font-weight: bold;
}

.plus-button:hover{
    color:orange;
    background: white;
    cursor: pointer;
}

.login-error
{
    color:darkred;
    font-weight:bold;
    font-size:20px;
}