.user-ava
{
    width: 220px;
    height:220px;
    border-radius: 50%;
    margin:10 auto;
    display: block;
    border: 2px solid rgb(255, 166, 0);
}
.user-description
{
    display: grid;
    grid-template-columns: auto auto ;
    text-shadow: 1px 1px 1px #000000;
    width: 450;
    height: 60;


}

.user-description  p{
    width: 150;
    height: 20;
    margin-top:20px;
    font-size:20px;
    color:whitesmoke;
    text-transform: uppercase;
    bottom: 0px;

}

.user-description h1{

    width: 250;
    height: 50;
    font-size:40px;
    color:whitesmoke;
    text-transform: uppercase;
    float: left;
}

.buttons
{
    width: 800;
    height: 70;

}

.userbtn
{

    width: 200px;
    display: block;
    height: 50px;
    color:white;
    background-color: transparent;
    border: 1px solid white;
    float: right;
    margin:-40 10 3 20;
    margin-left:auto;
    margin-right: auto;
    font-size: 100%;
    text-shadow: 1px 1px 4px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-column{

    position: absolute;
    margin-top: 40;
    margin-left: 250px;
    left: 0;
    width: 300px;
    height: 300px;

}

.right-column
{
    display: grid;
    grid-template-columns: auto;
    position: absolute;
    margin-top: 160;
    margin-right: 680;
    right: 0;
    width: 300;
    height: 300;

}
.top-container
{
    width: 100%;
    height: 28%;
    border-bottom: 5px solid rgb(255, 166, 0);

}

.userbtn:hover{
    color:white;
    background-color: orangered;
    cursor: pointer;
}

.important-margin-bottom
{
    margin-bottom: 20px !important;
}

.profile {
    margin-top: 10px;
    position: relative;
}

.thumbnail {
    width: 104px;
    height: 104px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 100%;
    border:1px solid orange;
}

.name {
    color: #2D354A;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.title {
    color: #7C8097;
    font-size: .75em;
    font-weight: 300;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .7em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.beer-description {
    color: #080911;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}
.user-btn2 {
    color: white;
    background-color:orange;
    width: 130px;
    height: 42px;
    outline: none;
    border: none;
    display: block;
    cursor: pointer;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70px;
    box-shadow: 0 13px 26px rgba(#000, .16), 0 3px 6px rgba(#000, .16);
}

.user-btn2:hover
{
    color:white;
    background-color: orangered;
}

.bottom-container
{margin-top: 9%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 330px;
    padding-bottom: 10px;
}



